<div class="container">
  <div class="row">
    <div class="col-lg-4 item-photo col-lg-offset-2" style="padding-top:25px;">
      <img style="width: 240px;" class="img-responsive" [src]="'http://localhost:4900/uploads/'+ book.photo" />
    </div>
    <div class="col-lg-4" style="border:0px solid gray; padding-top:0px;">
      <h3>TITLE: {{book.title}}</h3>

      <h3 class="title-price"><small>PRICE</small></h3>
      <h3 style="margin-top:0px;">US$ {{book.price}}</h3>

      <div >
        <i style="color: gold;" class="fa fa-heart" aria-hidden="true"></i>
        <i style="color: gold;" class="fa fa-heart" aria-hidden="true"></i>
        <i style="color: gold;" class="fa fa-heart" aria-hidden="true"></i>
        <i  class="fa fa-heart-o" aria-hidden="true"></i>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </div>
      <p>Length: <i>{{book.page_count}} pages</i></p>
      <p>Author: <i>{{book.author_name}}</i></p>
      <div class="section">
        <h3 class="title-attr" style="margin-top:10px;" ><small>Description</small></h3>
        <div>
          <p>
            {{book.description}}
          </p>
        </div>
      </div>

      <div class="section" style="padding-bottom:20px;">
        <h4 class="title-attr"><small>AMOUNT</small></h4>
        <div style="width: 200px;">
          <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
          <input value="1" />
          <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
        </div>
      </div>

      <!-- Botones de compra -->
      <div class="section" style="padding-bottom:20px;">
        <button (click)="addToCart(book.id, book.price,book.unit)" class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</button>
      </div>
    </div>

  </div>

</div>
<sub1-app></sub1-app>
<sub2-app></sub2-app>
<sub3-app></sub3-app>
