<div class="container">
  <div class="row">
    <div class="col-lg-4 item-photo">
      <img style="width: 240px;" class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/I/51zcMqY7GQL.jpg" />
    </div>
    <div class="col-lg-8" style="border:0px solid gray">

      <h3>Rich Dad Poor Dad: What The Rich Teach Their Kids About Money - That The Poor And Middle Class Do Not!</h3>
      <h5 style="color:#337ab7">vendido por <a href="#">Samsung</a> · <small style="color:#337ab7">(5054 ventas)</small></h5>

      <h3 class="title-price"><small>PRICE</small></h3>
      <h3 style="margin-top:0px;">U$S 10.99</h3>

      <div >
        <i style="color: gold;" class="fa fa-heart" aria-hidden="true"></i>
        <i style="color: gold;" class="fa fa-heart" aria-hidden="true"></i>
        <i style="color: gold;" class="fa fa-heart" aria-hidden="true"></i>
        <i  class="fa fa-heart-o" aria-hidden="true"></i>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </div>
      <p>Length: <i>345 pages</i></p>
      <p>Author: <i>Robert Kiyosaki</i></p>

      <div class="section">
        <h3 class="title-attr" style="margin-top:15px;" ><small>Description</small></h3>
        <div>
          <p>
            In Rich Dad Poor Dad, the #1 Personal Finance book of all time, Robert Kiyosaki
            shares the story of his two dad: his real father, whom he calls his ‘poor dad,’ and the
            father of his best friend, the man who became his mentor and his ‘rich dad.’ One man was well
            educated and an employee all his life, the other’s education was “street smarts” over traditional
          </p>
        </div>
      </div>

      <div class="section" style="padding-bottom:20px;">
        <h4 class="title-attr"><small>AMOUNT</small></h4>
        <div style="width: 200px;">
          <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
          <input value="1" />
          <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
        </div>
      </div>

      <!-- Botones de compra -->
      <div class="section" style="padding-bottom:20px;">
        <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</button>
      </div>
    </div>

  </div>



  <!--tab-->

</div>

<!--tab-->

<header style="margin: 50px 0px;" id="myCarousel" class="carousel slide">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="row">

          <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                <img style="height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/51zcMqY7GQL.jpg" />
              </div>
              <div class="panel-body">
                <h4>Service One</h4>
                <a class="btn btn-primary" href="#">Add to Cart </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                <img style="height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/51zcMqY7GQL.jpg" />
              </div>
              <div class="panel-body">
                <h4>Service One</h4>
                <a class="btn btn-primary" href="#">Add to Cart </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                <img style="height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/51zcMqY7GQL.jpg" />
              </div>
              <div class="panel-body">
                <h4>Service One</h4>
                <a class="btn btn-primary" href="#">Add to Cart </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                <img style="height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/51zcMqY7GQL.jpg" />
              </div>
              <div class="panel-body">
                <h4>Service One</h4>
                <a class="btn btn-primary" href="#">Add to Cart </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                <img style="height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/51zcMqY7GQL.jpg" />
              </div>
              <div class="panel-body">
                <h4>Service One</h4>
                <a class="btn btn-primary" href="#">Add to Cart </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                <img style="height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/51zcMqY7GQL.jpg" />
              </div>
              <div class="panel-body">
                <h4>Service One</h4>
                <a class="btn btn-primary" href="#">Add to Cart </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                <img style="height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/51zcMqY7GQL.jpg" />
              </div>
              <div class="panel-body">
                <h4>Service One</h4>
                <a class="btn btn-primary" href="#">Add to Cart </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                <img style="height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/51zcMqY7GQL.jpg" />
              </div>
              <div class="panel-body">
                <h4>Service One</h4>
                <a class="btn btn-primary" href="#">Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span  aria-hidden="true"><i class="fa fa-chevron-circle-left"></i>
</span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span  aria-hidden="true"><i class="fa fa-chevron-circle-right"></i>
</span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>
<sub3-app></sub3-app>
