
  <h3>Order </h3>
  <p style="margin-top:-20px;">________</p>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Wil Delivery</a></li>
    <li><a data-toggle="tab" href="#menu1">Order Done</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="row" style="padding: 20px 0px;">
       <div class="col-sm-6">

       </div>
       <div class="col-sm-6 ">
         <input  type="text"  placeholder="Search Author">
       </div>
     </div>
     <table class="table table-bordered">
       <thead>
       <tr>
         <th>ID</th>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Email</th>
         <th>Address</th>
         <th>Date</th>
         <th>Status</th>
         <th style="text-align: center;">Action</th>
       </tr>
       </thead>
       <tbody>

       <tr *ngFor="let order of orders| paginate: { itemsPerPage: 5, currentPage: p }">
         <td>{{order.profile.id}}</td>
         <td>{{order.profile.firstname}}</td>
         <td>{{order.profile.lastname}}</td>
         <td>{{order.profile.email}}</td>
         <td>{{order.profile.address}}</td>
         <td>{{order.date|date: 'dd/MM/yyyy'}}</td>
         <td>{{order.status}}</td>
         <td style="text-align: center;">
           <a [routerLink]="['/dashboard/order-detail', order.profile.id]" type="button" class="btn btn-primary btn-circle"><i class="fa fa-eye"></i></a>
           <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></button>
         </td>
       </tr>
       </tbody>
     </table>
     <div class="col-sm-offset-6 col-sm-6">
       <pagination-controls (pageChange)="p = $event"></pagination-controls>
     </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div class="row" style="padding: 20px 0px;">
       <div class="col-sm-6">

       </div>
       <div class="col-sm-6 ">
         <input  type="text"  placeholder="Search Author">
       </div>
     </div>
     <table class="table table-bordered">
       <thead>
       <tr>
         <th>ID</th>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Email</th>
         <th>Address</th>
         <th>Date</th>
         <th>Status</th>
         <th style="text-align: center;">Action</th>
       </tr>
       </thead>
       <tbody>

       <tr *ngFor="let order of orders| paginate: { itemsPerPage: 5, currentPage: p }">
         <td>{{order.profile.id}}</td>
         <td>{{order.profile.firstname}}</td>
         <td>{{order.profile.lastname}}</td>
         <td>{{order.profile.email}}</td>
         <td>{{order.profile.address}}</td>
         <td>{{order.date|date: 'dd/MM/yyyy'}}</td>
         <td>{{order.status}}</td>
         <td style="text-align: center;">
           <a [routerLink]="['/dashboard/order-detail', order.profile.id]" type="button" class="btn btn-primary btn-circle"><i class="fa fa-eye"></i></a>
           <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></button>
         </td>
       </tr>
       </tbody>
     </table>
     <div class="col-sm-offset-6 col-sm-6">
       <pagination-controls (pageChange)="p = $event"></pagination-controls>
     </div>
    </div>

  </div>
