<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 footerleft ">
                <div class="logofooter"> Logo</div>
                <p>
                    Cool Water Ripple Group mission to give back
                    to the community one book at a time has
                    brought us this fare...
                </p>
                <p>
                    We enjoy providing testful ready for children
                    of all ages. We enjoy giving our customers the
                    opportunity to enjoy high-quality services to
                    order and recieve the best books. Find your
                    next favorite book with us!
                </p>
                <h6 class="heading7">FOLLOW US</h6>
                <p>_________</p>
                <ul class="social-network social-circle">
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-5 paddingtop-bottom">
                <h6 class="heading7">WHO WE ARE</h6>
                <p>_________</p>
                <ul class="footer-ul">
                    <li><a href="#"> Features</a></li>
                    <li><a href="#"> About us</a></li>
                    <li><a href="#"> Authors</a></li>
                    <li><a href="#"> Books</a></li>
                    <li><a href="#"> Contact us</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">RESOURCES</h6>
                <p>_________</p>
                <div class="post">
                    <ul class="footer-ul">
                        <li><a href="#"> Shopping & Shipping</a></li>
                        <li><a href="#"> Lorem Ipsum</a></li>
                        <li><a href="#"> Lorem Ipsum</a></li>
                        <li><a href="#"> Lorem Ipsum</a></li>
                        <li><a href="#"> Lorem Ipsum</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-5 paddingtop-bottom">
                <h6 class="heading7">CONTACT INFO</h6>
                <p>_________</p>
                <address>
                    <b>Address:</b> 123, New Lenox
                    Charlotte, NC 28210
                </address>
                <address>
                    <b>Phone:</b> 704.456.7890
                </address>
                <address>
                    <b>Email:</b> info@coolwaterripplegroup.com
                </address>
            </div>
        </div>

        <div class="row text-center" style="margin-top: 50px; color:#fff;">
            <p>Cool Water Ripple Group © 2016 All Rights Reserved Terms of Use</p>
        </div>
    </div>
</footer>
