<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Add Book</legend>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="url">Site web</label>
      <div class="col-md-4">
        <input id="url" name="url" type="text" placeholder="Site web" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="facebook">Facebook</label>
      <div class="col-md-4">
        <input id="facebook" name="facebook" type="text" placeholder="Facebook" class="form-control input-md" required="">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label pull-left" for="twitter">Twitter</label>
      <div class="col-md-4">
        <input id="twitter" name="twitter" type="text" placeholder="Twitter" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="bandcamp">Bandcamp</label>
      <div class="col-md-4">
        <input id="bandcamp" name="bandcamp" type="text" placeholder="Bandcamp" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="soundcloud">Soundcloud</label>
      <div class="col-md-4">
        <input id="soundcloud" name="soundcloud" type="text" placeholder="Soundcloud" class="form-control input-md" required="">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Autre">Autre</label>
      <div class="col-md-4">
        <input id="Autre" name="Autre" type="text" placeholder="http://" class="form-control input-md" required="">

      </div>
    </div>


  </fieldset>
</form>
