<form class="form-horizontal" enctype="multipart/form-data" (ngSubmit)="addBook()">
  <fieldset>

    <legend>Add Book</legend>

    <div class="form-group">
      <label class="col-md-4 control-label" for="url">Image</label>
      <div class="col-md-4">
        <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg,.jpeg">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="facebook">Title</label>
      <div class="col-md-4">
        <input id="facebook" name="facebook" type="text" placeholder="Title" class="form-control input-md" required=""
        [(ngModel)]="book.title" [ngModelOptions]="{standalone: true}" >
      </div>
    </div>


    <div class="form-group">
      <label class="col-md-4 control-label pull-left" for="twitter">ISBN</label>
      <div class="col-md-4">
        <input id="twitter" name="twitter" type="text" placeholder="ISBN" class="form-control input-md" required=""
               [(ngModel)]="book.isbn" [ngModelOptions]="{standalone: true}" >

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="price">Price</label>
      <div class="col-md-4">
        <input id="price" name="bandcamp" type="text" placeholder="Price" class="form-control input-md" required=""
               [(ngModel)]="book.price" [ngModelOptions]="{standalone: true}" >

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="unit">Unit</label>
      <div class="col-md-4">
        <input id="unit" name="soundcloud" type="text" placeholder="Unit" class="form-control input-md" required=""
               [(ngModel)]="book.unit" [ngModelOptions]="{standalone: true}" >
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Publisher Name</label>
      <div class="col-md-4">
        <input id="name" name="Autre" type="text" placeholder="Publisher Name" class="form-control input-md" required=""
               [(ngModel)]="book.publisher_name" [ngModelOptions]="{standalone: true}">

      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="year">Published Year</label>
      <div class="col-md-4">
        <input id="year" name="url" type="text" placeholder="Published Year" class="form-control input-md" required=""
               [(ngModel)]="book.published_year" [ngModelOptions]="{standalone: true}">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="pages">Pages</label>
      <div class="col-md-4">
        <input id="pages" name="facebook" type="text" placeholder="page" class="form-control input-md" required=""
               [(ngModel)]="book.page_count" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label pull-left" for="lang">Language</label>
      <div class="col-md-4">
        <input id="lang" name="twitter" type="text" placeholder="Language" class="form-control input-md" required=""
               [(ngModel)]="book.language" [ngModelOptions]="{standalone: true}">

      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label pull-left" for="lang">Description</label>
      <div class="col-md-4">
        <input id="lang" name="twitter" type="text" placeholder="Description" class="form-control input-md" required=""
               [(ngModel)]="book.description" [ngModelOptions]="{standalone: true}">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="shipping">Shipping Weight</label>
      <div class="col-md-4">
        <input id="shipping" name="bandcamp" type="text" placeholder="Shipping Weight" class="form-control input-md" required=""
               [(ngModel)]="book.shipping_weight" [ngModelOptions]="{standalone: true}">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="dimension">Book Dimension</label>
      <div class="col-md-4">
        <input id="dimension" name="soundcloud" type="text" placeholder="Book Dimension" class="form-control input-md" required=""
               [(ngModel)]="book.book_dimensions" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="category">Category</label>
      <div class="col-md-4">
        <select name="" id="category" class="form-control" [(ngModel)]="book.category_id" [ngModelOptions]="{standalone: true}">
          <option value="" selected disabled>---Select---</option>
          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>

      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="Author">Author</label>
      <div class="col-md-4">
        <select name=""  class="form-control" [(ngModel)]="book.author_id" [ngModelOptions]="{standalone: true}">
          <option value="" selected disabled>---Select---</option>
          <option *ngFor="let author of authors" [value]="author.id" >{{author.firstname+" "+author.lastname}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="Author">Feature</label>
      <div class="col-md-4">
        <select name=""  class="form-control" [(ngModel)]="book.is_feature" [ngModelOptions]="{standalone: true}">
          <option value="" selected disabled>---Select---</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" ></label>
      <div class=" col-md-4">
        <button class="btn btn-primary">Add New</button>
        <a [routerLink]="['/dashboard/book']" class="btn btn-default pull-right">Cancel</a>
      </div>
    </div>
  </fieldset>
</form>
