
<div class="row" style="padding: 20px 0px;">
  <div class="col-sm-6">
    <a style="border-radius: 0px;" class="btn btn-primary" [routerLink]="['/dashboard/add-category']">Add Category</a>
  </div>
  <div class="col-sm-6 ">
    <input  type="text" placeholder="Search Books">
  </div>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Category Name</th>
    <th>Description</th>
    <th>Status</th>
    <th style="text-align: center;">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>John</td>
    <td>Dooley good in condition</td>
    <td>true</td>
    <td style="text-align: center;">
      <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-edit"></i></button>
      <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></button>
    </td>

  </tr>
  <tr>
    <td>Mary</td>
    <td>Dooley good in condition</td>
    <td>true</td>
    <td style="text-align: center;">
      <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-edit"></i></button>
      <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
  <tr>
    <td>July</td>
    <td>Dooley good in condition</td>
    <td>true</td>
    <td style="text-align: center;">
      <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-edit"></i></button>
      <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
  </tbody>
</table>
