
<div class="row" style="padding: 20px 0px;">
  <div class="col-sm-6">
    <a style="border-radius: 0px;" class="btn btn-primary" [routerLink]="['/dashboard/add-category']">Add Category</a>
  </div>
  <div class="col-sm-6 ">
    <input  type="text" placeholder="Search Category">
  </div>
</div>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Category Name</th>
    <th>Description</th>
    <th>Status</th>
    <th style="text-align: center;">Action</th>
  </tr>
  </thead>
  <tbody>
 <!-- <li *ngFor="let user of users">{{user.email}}</li>-->
  <tr *ngFor="let category of categories">
    <td>{{category.id}}</td>
    <td>{{category.name}}</td>
    <td>{{category.description}}</td>
    <td>{{category.status}}</td>
    <td style="text-align: center;">
      <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-edit"></i></button>
      <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></button>
    </td>
  </tr>

  </tbody>
</table>
