<div class="row all-product">
  <div class="col-lg-4 col-sm-6">
    <img src="http://kingofwallpapers.com/book/book-014.jpg" alt="" class="img-responsive">
    <h4>Books Titile Go Here</h4>
    <p>by Chic Blah </p>
  </div>

  <div class="col-lg-4 col-sm-6">
    <img src="http://kingofwallpapers.com/book/book-014.jpg" alt="" class="img-responsive">
    <h4>Books Titile Go Here</h4>
    <p>by Chic Blah </p>
  </div>

  <div class="col-lg-4  col-sm-6">
    <img src="http://kingofwallpapers.com/book/book-014.jpg" alt="" class="img-responsive">
    <h4>Books Titile Go Here</h4>
    <p>by Chic Blah </p>
  </div>

</div>
