<div class="row all-product">
  <div class="col-lg-4 col-sm-4">
    <img src="http://kingofwallpapers.com/book/book-014.jpg" alt="" class="img-responsive">
    <h3>Books Titile Go Here</h3>
    <p>by Chic Blah </p>
  </div>

  <div class="col-lg-4 col-sm-4">
    <img src="http://kingofwallpapers.com/book/book-014.jpg" alt="" class="img-responsive">
    <h3>Books Titile Go Here</h3>
    <p>by Chic Blah </p>
  </div>

  <div class="col-lg-4  col-sm-4">
    <img src="http://kingofwallpapers.com/book/book-014.jpg" alt="" class="img-responsive">
    <h3>Books Titile Go Here</h3>
    <p>by Chic Blah </p>
  </div>
</div>
