thead{
    color: #039be5;
}
.navbar-brand img{
  width:150px;
  height: 80px;
  margin-top: -50px;
}

.menu-top li{
    list-style-type: none;
    display: inline;
    padding: 0px 10px;

}
.menu-top .border{
    border-right: 1px solid gray;

}
.main-menu-top{
    background: #eee;
    padding: 1px 0px;
    margin-bottom: 50px;
    padding-top: 8px;
}

 .badge{
    margin-top: -29px;
    border-radius:0px;
    background: red;
}

.border-bottom{
    border-bottom:3px solid red;
    padding-bottom: 7px;
}
.navbar-nav>li>a{
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-nav>li{
  padding:0px 15px;
}

footer{
    height: 200px;
    background: #eee;
    text-align: center;
}
.jumbotron {
    background-color: #eee;
    border-radius: 0px;
}
.jumbotron p{
    margin-top:-15px;
    color:gray;
}
.enter-email{
    border-radius: 0px;
    height: 40px;
}
.jumbotron .btn{
    border-radius: 0px;
    height: 40px;
    background: gray;
    color:#fff;
}
.footer-bottom{
    margin-top: -30px;
    background: rgba(128, 128, 128, 0.49);
}
.footer{
    margin-top: 60px;
}
.second-nav .navbar-default{
  background: #fff;
  border:none;
}

@media only screen and (max-width: 414px) {
    .navbar-brand>img{
      width:50px;
      height: 50px;
      border-radius: 50%;
      margin-top: -14px;
    }

    .navbar-brand{
      text-align: center;
    }
    .navbar-collapse{
      background: rgba(85, 85, 85, 0.23);
      margin-right: -3px;
    }
    .navbar-header{
      background: rgba(85, 85, 85, 0.23);
      margin-top: -50px;
      text-align: center;
    }
    .navbar-header a{
      margin: auto;
    }
    .main-menu-top{
      text-align: center;
    }
}
@media only screen and (max-width: 768px) {
  .navbar-nav>li{
    padding:0px 10px;
  }
  .main-menu-top{
    text-align: center;
  }

}

@media only screen and (max-width: 764px) {
  .navbar-brand>img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -14px;
  }
}
