<div class="container">
        <div class="row">
            <div class="main-menu-top">
                <div class="col-md-7 col-sm-12">
                    <span>Welcome to Cool Water Ripple Group</span>
                </div>
                <div col-sm-12 >
                    <ul class="menu-top">
                        <li class="border"><a [routerLink]="['/login']" >Login</a></li>
                        <li><a [routerLink]="['/register']">Register</a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li class="border"><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="">Call Us 800.456.7832</a></li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="row second-nav">
        <nav class="navbar navbar-default">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" [routerLink]="['/home/feature']">
                  <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/736x/26/63/e5/2663e5cd08194d30314a3f0b7a6c32e0.jpg">
                </a>
            </div>
            <div class="collapse navbar-collapse"  id="collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a [routerLinkActive]="['border-bottom']" [routerLink]="['/home']">HOME</a></li>
                    <li><a [routerLinkActive]="['border-bottom']" [routerLink]="['/who-we-are']">WHO WE ARE</a></li>
                    <li><a [routerLinkActive]="['border-bottom']" [routerLink]="['/book']">BOOKS</a></li>
                    <li><a [routerLinkActive]="['border-bottom']" [routerLink]="['/author']">AUTHORS</a></li>
                    <li  class="border"><a [routerLinkActive]="['border-bottom']" [routerLink]="['/contact']" >CONTACT US</a></li>
                    <li><a [routerLinkActive]="['border-bottom']" [routerLink]="['/cart']"><i  class="fa fa-shopping-basket lg" aria-hidden="true"></i>
                        <span *ngIf="cartNumber > 0" class="badge">{{cartNumber}}</span></a></li>
                    <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                        <ul class="dropdown-menu" style="border-radius: 5px;">
                            <input style="width:200px; margin: 5px 10px; " type="text"  placeholder="Search...">
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row">
        <router-outlet></router-outlet>
    </div>


</div>
