.jumbotron{
    background: #eee;
    margin-top: 20px;
    border-radius: 0px;
    padding:10px 0px ;
    padding-left: 5px;

}
.who .col-sm-4{
    padding: 0px;
}
.who{
    padding: 0px 30px;
    margin-top: -30px;
}
.who .col-sm-9 {
    padding: 0px;
}
.who .col-lg-3 img{
   margin-top: 40px;
    border: 6px solid rgba(51, 122, 183, 0.12);
    width: 200px;
    height:200px;
}
@media only screen and (max-width: 414px) {
    .who .img-circle {
        border-radius: 50%;
        margin: 0 auto;
    }
}





