
.slide{
  background: #eee;
  border-radius: 0px;
  margin-bottom: 200px;
  margin: auto;
}
.slide .btn{
  border-radius: 0px;
  background: #FFFFFF;
  color: black;
  height: 40px;
}
.fa {
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(234, 12, 7);
  color: #fff;
  text-align: center;
  padding-top: 10px;
  margin-top: 30px;
  margin-left: 15px;
}
.fa-facebook:hover{
  background: #3b5999;
  color:#fff;
}
.fa-twitter:hover{
  background: #55acee;
  color:#fff;
}
.menu ul li{
  list-style-type: none;
  display: inline;
  padding:0px 20px;
}
.discover .btn{
  background: gray;
  color:#fff;
  border-radius: 0px;
  height: 45px;
  padding: 0px 30px;
}
.all-item{
  text-align: center;
  background: rgba(157, 157, 157, 0.09);
  padding: 50px 0px;
  margin-bottom: -40px;
}
.all-item img{
  margin: auto;
  width: 150px;
  height: 150px;
}


.list-menu{
  margin-bottom: 25px;
}
.discover{
  margin: 50px 0px;
}
.all-item a{
  color:red;
  text-decoration: solid;
}
.all-circle{
  text-align: center;
  padding: 50px 0px;
}
.all-circle img{
  margin: auto;

}

.border-bottom{
  border-bottom:3px solid red;
  padding-bottom: 5px;
}
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}
/*slider*/



@media only screen and (max-width: 414px) {
  .list-item{
    text-align: center;
    background: pink;
  }

}

@media only screen and (max-width: 800px) {
  .all-circle img{
    margin-top: 30px;
  }
}
