<div class="row slide">
  <div class="col-lg-6">
    <h3>Leorem Ipsum Next Book</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
      in dictum leo. Nullam semper diam id leo consectetur iaculis.
      Mauris imperdiet nec magna sit amet finibus. Aenean interdum
      leo ut libero imperdiet, ibus nisl tincidunt. Sed nec nibh elit. Nulla
      efficitur augue tristique lacus.</p>
    <button class="btn btn-default">BUY NOW</button>
    <button class="btn btn-default">SHOP OUR STORE</button>
  </div>
  <div class="col-lg-6">
    <img src="http://pngimg.com/uploads/book/book_PNG2121.png" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <i class="fa fa-facebook "></i>
  <i class="fa fa-twitter"></i>
</div>
<div class="row  menu text-center">
  <h1>Leorem Ipsum Next Book</h1>
  <p style="margin-top: -10px; margin-bottom: 20px;">___________</p>
  <ul class="list-menu">
    <li><a [routerLinkActive]="['border-bottom']" [routerLink]="['feature']">FEATURED</a></li>
    <li><a [routerLinkActive]="['border-bottom']" [routerLink]="['new-release']">NEW RELEASE</a></li>
    <li><a  [routerLinkActive]="['border-bottom']" href="#">CWRG MISC. STUFF</a></li>
  </ul>
</div>

<router-outlet></router-outlet>

<div class="row text-center discover">
  <button class="btn btn-default">DISCOVER MORE</button>
</div>
<div class="row all-item">
  <div class="col-lg-4 col-sm-12">
    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=120&h=120" alt="" class="img-responsive img-circle">
    <h2>Make the Best Present</h2>
    <p>We not only offer our clients variety of
      book products but a whole lot more.</p>
    <a href="#">Learn More > </a>
  </div>

  <div class="col-lg-4 col-sm-12">
    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=120&h=120" alt="" class="img-responsive img-circle">
    <h2>Meet Our Collective of Authors</h2>
    <p>We not only offer our clients variety of
      book products but a whole lot more.</p>
    <a href="#">Learn More > </a>
  </div>

  <div class="col-lg-4 col-sm-12">
    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=120&h=120" alt="" class="img-responsive img-circle">
    <h2>Read CWRG News Updates</h2>
    <p>We not only offer our clients variety of
      book products but a whole lot more.</p>
    <a href="#">Learn More > </a>
  </div>
</div>

<sub1-app></sub1-app>

<div class="row all-circle all-item">
  <h1>Leorem Ipsum Community</h1>
  <p style="margin-top: -10px; margin-bottom: 20px;">___________</p>
  <div class="col-lg-4 col-sm-4">
    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=230&h=230" alt="" class="img-responsive img-circle">
  </div>

  <div class="col-lg-4 col-sm-4">
    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=230&h=230" alt="" class="img-responsive img-circle">
  </div>

  <div class="col-lg-4 col-sm-4">
    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=230&h=230" alt="" class="img-responsive img-circle">
  </div>
</div>
<div class="row text-center discover">
  <button class="btn btn-default">DISCOVER MORE</button>
</div>

<div class="row" style="margin-top: 30px;">
  <div class="col-lg-12">
    <sub2-app></sub2-app>
    <sub3-app></sub3-app>
  </div>
</div>



